<div>
    <div class="container head row">
        <div class="col-xs-4 clear">
            <i class="icon icon-logo fl">
                <img src="../../img/ad-logo.png" width="100%">
            </i>
            <h1 style="width:200px"> 自助广告投放管理平台</h1>
        </div>
        <!-- 后期再做 -->
        <ul class="col-xs-5 clear">
            <!-- <li>关于我们</li>
            <li>公告中心</li>
            <li ui-sref="main.helpCenter">帮助中心</li> -->
        </ul>
        <div class="col-xs-3 clear headNav">
            <div class="fr">
                <a ui-sref="access.login" class="btn" ui-sref-active="hover" ng-click="aa()">登录</a>
                <a ui-sref="access.register" class="btn" ui-sref-active="hover" ng-click="aa()">注册</a>
                <!-- <a ui-sref="access.recharge" class="btn" ui-sref-active="hover" ng-click="aa()">充值</a> -->
            </div>
        </div>
    </div>
    <div ui-view class="clear"></div>
</div>
