
.navHead
  background: #f40;
  position: fixed;
  height: 90px;
  width: 100%;
  overflow: hidden;
  & .logonWrap
    width: 145px
    height: 90px
    float: left
    & .title
      position: absolute
      left: -99999px
    & a
      display: block
      height: 100%
      width: 100%
  & .topNav
    height: 100%;
    width: 100%;
  &.button
    background: yellow;
    width: 500px;



